:root {
  --shape-color: rgb(165, 202, 194);
  --content-color: rgb(217, 255, 240);
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(216, 236, 230);
  margin: 0;
}

nav {
  width: 100%;
  min-height: 70px;
}

hr {
  width: 100%;
  border-style: solid;
  border-color: rgb(155, 190, 170);
  margin-top: 20px;
  margin-bottom: 20px;
}

.topBarWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.topBarLinks {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.trapezoid {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60vh;
  width: 100%;
  z-index: -100;
  background-color: var(--shape-color);
  clip-path: polygon(50% max(70%, 300px), 100% 40%, 100% 0, 0 0, 0 42%);
}


.generalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.aboutMeWrapper, .skillsWrapper, .projectsWrapper, .contactWrapper{
  align-self: center;
  max-width: 80em;
}

.aboutMeWrapper {
  display: grid;
  grid-template-rows: 20% auto 20%;
  grid-template-columns: 20% 80%;
  font-family: 'Lato', sans-serif;
  background-color: var(--content-color);
  box-shadow: 6px 10px 5px rgb(109, 106, 106);
}

.aboutMeAvatar {
  grid-row: 1 / 4;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  height: auto;
  max-width: 80%;
  filter: drop-shadow(6px 10px 5px rgb(21, 56, 56));
}

.aboutMeTitle {
  justify-self: center;
  grid-column: 2 / 3;
}

.aboutMeContentWrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeText {
  align-self: center;
  padding-left: 40px;
  font-size: 22px;
}

.aboutMeIconWrapper {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  grid-row: 3;
  grid-column: 2;
  padding: 1rem;
}

.aboutMeIcon, .projectIcon, .contactIcon{
  height: auto;
  min-width: 50px;
  max-width: 50px;
  color: black;
}

.skillsWrapper { 
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 80em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--content-color);
}

.skillsWrapper h1 {
  font-size: 36px;
  width: 100%;
}

.skillsWrapper * {
  text-align: center;
}

.skillList {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.skillTitle {
  padding: 1rem;
  width:170px;
  font-size: 30px;
}

.skillList ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-inline-start: 0%;
}

.chevron {
  height: 75px;
  min-width: 30px;
  max-width: 70px;
  background-color: var(--shape-color);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.skill {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 100px;
  min-width: 120px;
  align-items: center;
  justify-content: center;
}

.legacy {
  opacity: 0.5;
}

.skill span {
  font-size: 50px;
}

.projectsWrapper {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 310px;
  height: 590px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--content-color);
}

.projectsWrapper h1 {
  width: 100%;
  text-align: center;
}

.projectTitle {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.projectImage {
  height: 250px;
  max-width: 300px;
  flex: 1 1 5rem;
  align-self: center;
  object-fit: scale-down;
}

.projectContent {
  display: grid;
  height: 100%;
  grid-template-rows: 60px 130px 70px;
  flex: 1 1 5rem;
  align-self: center;
}

.techsWrapper {
  padding: 1rem;
  display: flex;
}

.builtWith {
  font-weight: 900;
}

.builtWithContent {
  padding-left: 10px;
}

.projectText {
  flex: 1 1 5rem;
  padding: 1rem;
  font-size: larger;
}

.projectIconWrapper {
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.projectIcon {
  margin: 10px;
}

.contactBackground {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: auto;
  background-color: rgb(233, 145, 218);
}

.contactWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.contactTitle {
  width: 100%;
  font-size: 36px;
  flex-grow: 1;
  text-align: center;
}

.contactDetailWrapper {
  width: 300px;
}

.contactDetail {
  display: inline-block;
}

.contactIcon {
  text-decoration: none;
  vertical-align: middle;
}

.contactIcon:hover {
  transition: color 0.3s ease, filter 0.3s ease;
  /* transition: filter 0.3s ease; */
  color: rgb(85, 85, 81);
}

.contactIcon:hover img {
  fill: rgb(228, 47, 41);
  filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(90%) contrast(90%);}

.test {
  transition: color 0.3s ease;
  fill: black;
  height: 150px;
  color: black;
}
.test:hover {
  fill: red;
}


.contactForm {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .aboutMeWrapper {
    display: flex;
    flex-direction: column;
    min-width: 2em;
    margin-left: 20px;
    margin-right: 20px;
  }

  .aboutMeAvatar {
    max-width: 150px;
    padding-top: 20px
  }

  .aboutMeText {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.25em;
    text-align: center;
  }

  .skillTitle {
    width: 100%;
    text-decoration-line: underline;
  }

  .skillList {
    flex-direction: column;
  }

  .chevron {
    display: none;
  }
  
  .skill {
    padding: 1rem;
    flex: 1 1 5rem;
  }

  .project {
    flex-direction: column;
  }
}


@media (max-width: 400px) {
  .trapezoid {
  }

  .aboutMeWrapper {
    max-width: 20em;
  }
  
}